/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
*.swp
*.swo
*~
.vscode
composer.lock
package-lock.json
yarn.lock
bootstrap/cache/packages.php
bootstrap/cache/services.php
